html {
  font-size: 16px;
  font-family: 'Hind Siliguri', sans-serif;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 4rem;
  color: #22223B;
  font-family: 'Cormorant', serif;
}

h2 {
  font-weight: 400;
  font-size: 3rem;
  color: #22223B;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
  color: #22223B;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
  color: #22223B;
}

li {
  list-style: none;
  color: #22223B;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  color: #22223B;
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: #9A8C98;
}

button {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.7rem;
  color: #22223B;
  background-color:#fdfbfa ;
  border: #22223B 1px solid;
  transition: all 0.5s ease;
}

button:hover,
button:focus {
  background-color:#89CFF0;
  cursor:pointer;
}

/* Top menu */
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 800px;
  margin: 30px auto;
}

ul {
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

/* Sign up page */
.signupContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.defaultInput {
  max-width: 300px;
  border: 2px solid grey;
  padding: 7px;
}

.defaultButton {
  border: none;
  padding: 8px 16px;
  background-color: #D2BBA0;
  width: fit-content;
}

.formOptions form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

form {
  input {
    margin: 5px 0 15px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  select {
    cursor: pointer;
    appearance: none;
  }

  .selectWrapper {
    position: relative;
  }

  .distance {
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    height: 100%;
    margin: 5px 0 15px 0;
  }

  .selectWrapper i {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
